body{
    text-align: center;
    background-color:rgb(12, 12, 12);
    color: aliceblue;
}
#imgfoto{
    max-width:200px;
    max-height: 200px;
}
img{
    max-width:200px;max-height: 200px;
}
p{
    color:rgb(255, 255, 255);
}
img{
    max-width: 50px; max-height: 50px;
}
#pespaco{
    color:rgb(12, 12, 12);
}


.tudo{
    border: solid 1px;
    margin: 0 auto;
    width: 60%;
}

.minhafoto{
    width: 30%;
    height: 30px;
    float: left;
}